In [1]:
import boto3
import pandas as pd
from io import StringIO, BytesIO
import os
from datetime import datetime, timedelta

In [2]:
arg_date = '2022-05-02'

In [3]:
arg_date_dt = datetime.strptime(arg_date, '%Y-%m-%d').date() - timedelta(days=1)

In [4]:
arg_date_dt_high = datetime.strptime(arg_date, '%Y-%m-%d').date() + timedelta(days=10)

In [5]:
arg_date_dt_high

datetime.date(2022, 5, 12)

In [6]:
arg_date_dt

datetime.date(2022, 5, 1)

In [7]:
s3 = boto3.resource('s3', aws_access_key_id = 'AKIA55UIMZNA2UWMIAPT', aws_secret_access_key = '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')
bucket = s3.Bucket('xetra-1234')

In [8]:
##bucket_obj1 = bucket.objects.filter(Prefix='2022-01-27/')
##bucket_obj2 = bucket.objects.filter(Prefix='2022-01-28/')
objects = [obj for obj in bucket.objects.all() if datetime.strptime(obj.key.split('/')[0], '%Y-%m-%d').date() in(arg_date_dt, arg_date_dt_high)]
##objects = [obj for obj in bucket_obj1] + [obj for obj in bucket_obj2]
##objects = [obj for obj in bucket.objects.all()]

In [9]:
objects

[s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-01/2022-05-01_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-05-12/2022-05-11_BINS_XETR23.csv')]

In [10]:
csv_obj_init = bucket.Object(key=objects[0].key).get().get('Body').read().decode('utf-8')
data = StringIO(csv_obj_init)
df_init = pd.read_csv(data, delimiter = ',')

In [11]:
df_init.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [12]:
df_all = pd.DataFrame(columns=df_init.columns)
for obj in objects:
    csv_obj = bucket.Object(key=obj.key).get().get('Body').read().decode('utf-8')
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter = ',')
    df_all = pd.concat([df_all,df], ignore_index = True)

In [13]:
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-05-01,08:00,16.36,16.49,16.35,16.35,2334,4
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2022-05-01,08:00,31.78,31.88,31.60,31.82,7672,15
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2022-05-01,08:00,14.19,14.31,14.19,14.31,57633,55
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2022-05-01,08:00,188.85,189.70,188.40,189.60,2762,36
4,DE000A0HN5C6,DWNI,DEUTSCHE WOHNEN SE INH,Common stock,EUR,2504314,2022-05-01,08:00,36.41,36.41,36.41,36.41,201,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232876,DE0006231004,IFX,INFINEON TECH.AG NA O.N.,Common stock,EUR,2505024,2022-05-12,16:43,33.38,33.38,33.38,33.38,1500,1
232877,DE0008404005,ALV,ALLIANZ SE NA O.N.,Common stock,EUR,2505133,2022-05-12,16:43,229.55,229.55,229.55,229.55,40,1
232878,DE000SHL1006,SHL,SIEMENS HEALTH.AG NA O.N.,Common stock,EUR,3058562,2022-05-12,16:43,56.58,56.58,56.58,56.58,100,1
232879,DE000WAF3001,WAF,SILTRONIC AG NA O.N.,Common stock,EUR,2504859,2022-05-12,16:44,112.00,112.00,112.00,112.00,180,1
232880,US0231351067,AMZ,"AMAZON.COM INC. DL-,01",Common stock,EUR,2506427,2022-05-12,16:44,2748.00,2748.00,2748.00,2748.00,1,1

In [14]:
columns = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice', 'EndPrice', 'TradedVolume']
df_all = df_all.loc[:,columns]

In [15]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume
0,AT0000A0E9W5,2022-05-01,08:00,16.36,16.49,16.35,16.35,2334
1,DE000A0DJ6J9,2022-05-01,08:00,31.78,31.88,31.60,31.82,7672
2,DE000A0D6554,2022-05-01,08:00,14.19,14.31,14.19,14.31,57633
3,DE000A0D9PT0,2022-05-01,08:00,188.85,189.70,188.40,189.60,2762
4,DE000A0HN5C6,2022-05-01,08:00,36.41,36.41,36.41,36.41,201
...,...,...,...,...,...,...,...,...
232876,DE0006231004,2022-05-12,16:43,33.38,33.38,33.38,33.38,1500
232877,DE0008404005,2022-05-12,16:43,229.55,229.55,229.55,229.55,40
232878,DE000SHL1006,2022-05-12,16:43,56.58,56.58,56.58,56.58,100
232879,DE000WAF3001,2022-05-12,16:44,112.00,112.00,112.00,112.00,180
232880,US0231351067,2022-05-12,16:44,2748.00,2748.00,2748.00,2748.00,1

In [16]:
df_all.dropna(inplace=True)

In [17]:
df_all.shape

(232881, 8)

##Get opening price per ISIN and Day

In [18]:
df_all['opening_price'] = df_all.sort_values(by=['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('first')

In [19]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price
0,AT0000A0E9W5,2022-05-01,08:00,16.36,16.49,16.35,16.35,2334,16.36
1,DE000A0DJ6J9,2022-05-01,08:00,31.78,31.88,31.60,31.82,7672,31.78
2,DE000A0D6554,2022-05-01,08:00,14.19,14.31,14.19,14.31,57633,14.19
3,DE000A0D9PT0,2022-05-01,08:00,188.85,189.70,188.40,189.60,2762,188.85
4,DE000A0HN5C6,2022-05-01,08:00,36.41,36.41,36.41,36.41,201,36.41
...,...,...,...,...,...,...,...,...,...
232876,DE0006231004,2022-05-12,16:43,33.38,33.38,33.38,33.38,1500,33.51
232877,DE0008404005,2022-05-12,16:43,229.55,229.55,229.55,229.55,40,227.45
232878,DE000SHL1006,2022-05-12,16:43,56.58,56.58,56.58,56.58,100,57.62
232879,DE000WAF3001,2022-05-12,16:44,112.00,112.00,112.00,112.00,180,116.00
232880,US0231351067,2022-05-12,16:44,2748.00,2748.00,2748.00,2748.00,1,2770.00

In [20]:
df_all[df_all['ISIN']=='DE000A0D6554']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price
2,DE000A0D6554,2022-05-01,08:00,14.19,14.31,14.19,14.31,57633,14.19
158,DE000A0D6554,2022-05-01,08:01,14.32,14.32,14.25,14.30,34575,14.19
289,DE000A0D6554,2022-05-01,08:02,14.36,14.44,14.36,14.44,20302,14.19
550,DE000A0D6554,2022-05-01,08:03,14.42,14.42,14.33,14.36,15747,14.19
747,DE000A0D6554,2022-05-01,08:04,14.31,14.31,14.31,14.31,5000,14.19
...,...,...,...,...,...,...,...,...,...
228230,DE000A0D6554,2022-05-12,16:26,13.11,13.11,13.11,13.11,395,12.69
228538,DE000A0D6554,2022-05-12,16:27,13.10,13.10,13.09,13.09,800,12.69
228832,DE000A0D6554,2022-05-12,16:28,13.12,13.14,13.12,13.14,1766,12.69
229139,DE000A0D6554,2022-05-12,16:29,13.13,13.14,13.10,13.14,1932,12.69
229684,DE000A0D6554,2022-05-12,16:35,13.15,13.15,13.15,13.15,89349,12.69

## Get closing price per ISIN and Day

In [21]:
df_all['closing_price'] = df_all.sort_values(by=['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('last')

In [22]:
df_all[df_all['ISIN']=='DE000A0D6554']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price,closing_price
2,DE000A0D6554,2022-05-01,08:00,14.19,14.31,14.19,14.31,57633,14.19,13.87
158,DE000A0D6554,2022-05-01,08:01,14.32,14.32,14.25,14.30,34575,14.19,13.87
289,DE000A0D6554,2022-05-01,08:02,14.36,14.44,14.36,14.44,20302,14.19,13.87
550,DE000A0D6554,2022-05-01,08:03,14.42,14.42,14.33,14.36,15747,14.19,13.87
747,DE000A0D6554,2022-05-01,08:04,14.31,14.31,14.31,14.31,5000,14.19,13.87
...,...,...,...,...,...,...,...,...,...,...
228230,DE000A0D6554,2022-05-12,16:26,13.11,13.11,13.11,13.11,395,12.69,13.15
228538,DE000A0D6554,2022-05-12,16:27,13.10,13.10,13.09,13.09,800,12.69,13.15
228832,DE000A0D6554,2022-05-12,16:28,13.12,13.14,13.12,13.14,1766,12.69,13.15
229139,DE000A0D6554,2022-05-12,16:29,13.13,13.14,13.10,13.14,1932,12.69,13.15
229684,DE000A0D6554,2022-05-12,16:35,13.15,13.15,13.15,13.15,89349,12.69,13.15

## Aggregations

In [23]:
df_all = df_all.groupby(['ISIN', 'Date'], as_index = False).agg(opening_price_eur=('opening_price','min'), closing_price_eur=('closing_price','min'),minimum_price_eur=('MinPrice','min'),maximum_price_eur=('MaxPrice','max'),daily_traded_volume=('TradedVolume','sum'))

In [24]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume
0,AT000000STR1,2022-05-01,38.100,38.500,38.100,38.600,668
1,AT000000STR1,2022-05-12,39.150,39.250,38.650,39.600,914
2,AT00000FACC2,2022-05-01,7.820,8.000,7.750,8.120,1830
3,AT00000FACC2,2022-05-12,9.200,9.170,9.170,9.370,555
4,AT0000606306,2022-05-01,25.180,25.240,25.180,25.240,50
...,...,...,...,...,...,...,...
6413,XS2314659447,2022-05-12,8.781,8.696,8.696,8.920,570
6414,XS2314660700,2022-05-01,20.194,20.490,20.194,20.490,159
6415,XS2314660700,2022-05-12,20.428,20.284,20.256,20.754,219
6416,XS2376095068,2022-05-01,34.084,34.660,34.084,34.674,3920
6417,XS2376095068,2022-05-12,38.024,38.110,37.946,38.110,0

## Percent Change prev closing

In [25]:
df_all['prev_closing'] = df_all.sort_values(by=['Date']).groupby(['ISIN'])['closing_price_eur'].shift(1)

In [26]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,prev_closing
0,AT000000STR1,2022-05-01,38.100,38.500,38.100,38.600,668,NaN
1,AT000000STR1,2022-05-12,39.150,39.250,38.650,39.600,914,38.500
2,AT00000FACC2,2022-05-01,7.820,8.000,7.750,8.120,1830,NaN
3,AT00000FACC2,2022-05-12,9.200,9.170,9.170,9.370,555,8.000
4,AT0000606306,2022-05-01,25.180,25.240,25.180,25.240,50,NaN
...,...,...,...,...,...,...,...,...
6413,XS2314659447,2022-05-12,8.781,8.696,8.696,8.920,570,8.673
6414,XS2314660700,2022-05-01,20.194,20.490,20.194,20.490,159,NaN
6415,XS2314660700,2022-05-12,20.428,20.284,20.256,20.754,219,20.490
6416,XS2376095068,2022-05-01,34.084,34.660,34.084,34.674,3920,NaN
6417,XS2376095068,2022-05-12,38.024,38.110,37.946,38.110,0,34.660

In [27]:
df_all['change_prev_closing%'] = (df_all['closing_price_eur'] - df_all['prev_closing']) / df_all['prev_closing'] * 100

In [28]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,prev_closing,change_prev_closing%
0,AT000000STR1,2022-05-01,38.100,38.500,38.100,38.600,668,NaN,NaN
1,AT000000STR1,2022-05-12,39.150,39.250,38.650,39.600,914,38.500,1.948052
2,AT00000FACC2,2022-05-01,7.820,8.000,7.750,8.120,1830,NaN,NaN
3,AT00000FACC2,2022-05-12,9.200,9.170,9.170,9.370,555,8.000,14.625000
4,AT0000606306,2022-05-01,25.180,25.240,25.180,25.240,50,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6413,XS2314659447,2022-05-12,8.781,8.696,8.696,8.920,570,8.673,0.265191
6414,XS2314660700,2022-05-01,20.194,20.490,20.194,20.490,159,NaN,NaN
6415,XS2314660700,2022-05-12,20.428,20.284,20.256,20.754,219,20.490,-1.005368
6416,XS2376095068,2022-05-01,34.084,34.660,34.084,34.674,3920,NaN,NaN
6417,XS2376095068,2022-05-12,38.024,38.110,37.946,38.110,0,34.660,9.953837

In [29]:
df_all = df_all.round(decimals=2)

In [30]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,prev_closing,change_prev_closing%
0,AT000000STR1,2022-05-01,38.10,38.50,38.10,38.60,668,NaN,NaN
1,AT000000STR1,2022-05-12,39.15,39.25,38.65,39.60,914,38.50,1.95
2,AT00000FACC2,2022-05-01,7.82,8.00,7.75,8.12,1830,NaN,NaN
3,AT00000FACC2,2022-05-12,9.20,9.17,9.17,9.37,555,8.00,14.62
4,AT0000606306,2022-05-01,25.18,25.24,25.18,25.24,50,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6413,XS2314659447,2022-05-12,8.78,8.70,8.70,8.92,570,8.67,0.27
6414,XS2314660700,2022-05-01,20.19,20.49,20.19,20.49,159,NaN,NaN
6415,XS2314660700,2022-05-12,20.43,20.28,20.26,20.75,219,20.49,-1.01
6416,XS2376095068,2022-05-01,34.08,34.66,34.08,34.67,3920,NaN,NaN
6417,XS2376095068,2022-05-12,38.02,38.11,37.95,38.11,0,34.66,9.95

In [31]:
df_all = df_all[df_all.Date >= arg_date]

In [32]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,prev_closing,change_prev_closing%
1,AT000000STR1,2022-05-12,39.15,39.25,38.65,39.60,914,38.50,1.95
3,AT00000FACC2,2022-05-12,9.20,9.17,9.17,9.37,555,8.00,14.62
5,AT0000606306,2022-05-12,27.66,27.88,27.40,28.12,1125,25.24,10.46
7,AT0000609607,2022-05-12,13.30,13.36,13.30,13.36,98,12.74,4.87
9,AT0000644505,2022-05-12,107.00,106.20,105.40,107.00,23,110.00,-3.45
...,...,...,...,...,...,...,...,...,...
6409,XS2265370234,2022-05-12,19.51,19.31,19.31,19.78,0,20.97,-7.91
6411,XS2284324667,2022-05-12,36.74,37.05,36.74,37.09,3077,36.20,2.36
6413,XS2314659447,2022-05-12,8.78,8.70,8.70,8.92,570,8.67,0.27
6415,XS2314660700,2022-05-12,20.43,20.28,20.26,20.75,219,20.49,-1.01
6417,XS2376095068,2022-05-12,38.02,38.11,37.95,38.11,0,34.66,9.95

## Save To S3

In [38]:
key = 'xetra_daily_report_' + datetime.today().strftime("%Y%m%d_%H%M%S") + '.parquet'

In [39]:
out_buffer = BytesIO()
df_all.to_parquet(out_buffer, index=False)
bucket_target = s3.Bucket('xetra-bucket-willt')
bucket_target.put_object(Body=out_buffer.getvalue(), Key=key)

s3.Object(bucket_name='xetra-bucket-willt', key='xetra_daily_report_20230818_192017.parquet')

## Read uploaded bucket file

In [40]:
for obj in bucket_target.objects.all():
    print(obj.key)

xetra_daily_report_20230818_192017.parquet

In [42]:
prq_obj = bucket_target.Object(key='xetra_daily_report_20230818_192017.parquet').get().get('Body').read()
data = BytesIO(prq_obj)
df_report = pd.read_parquet(data)

In [43]:
df_report

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,prev_closing,change_prev_closing%
0,AT000000STR1,2022-05-12,39.15,39.25,38.65,39.60,914,38.50,1.95
1,AT00000FACC2,2022-05-12,9.20,9.17,9.17,9.37,555,8.00,14.62
2,AT0000606306,2022-05-12,27.66,27.88,27.40,28.12,1125,25.24,10.46
3,AT0000609607,2022-05-12,13.30,13.36,13.30,13.36,98,12.74,4.87
4,AT0000644505,2022-05-12,107.00,106.20,105.40,107.00,23,110.00,-3.45
...,...,...,...,...,...,...,...,...,...
3224,XS2265370234,2022-05-12,19.51,19.31,19.31,19.78,0,20.97,-7.91
3225,XS2284324667,2022-05-12,36.74,37.05,36.74,37.09,3077,36.20,2.36
3226,XS2314659447,2022-05-12,8.78,8.70,8.70,8.92,570,8.67,0.27
3227,XS2314660700,2022-05-12,20.43,20.28,20.26,20.75,219,20.49,-1.01
3228,XS2376095068,2022-05-12,38.02,38.11,37.95,38.11,0,34.66,9.95